<h1>To do List Goes Here </h1> 

<% list.forEach(function(item) { %>
    <li><%= item %> </li>
<% }); %> 

<form action="/additem" method="POST"> 
    <input type="text" name="newItem" placeholder="Task Name">
    <button> Add Task </button> 
</form>  
